/* ============================ Number Page ============================ */
.number-page {
  display: flex;
  justify-content: center;
  gap: 12px;
  button {
    display: block;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--White_grey);
    background-color: transparent;
    cursor: pointer;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    &:hover {
      color: white;
      background-color: var(--Black);
      /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
      transform: translateY(10%);
      transition: 0.3s;
    }
    i {
      font-size: 13px !important;
    }
  }
}
/* ============================ Head Page ============================ */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
  }
  .actions {
    display: flex;
    align-items: center;
    gap: 20px;
    .search {
      position: relative;
      &::after {
        font-family: "Font Awesome 6 Free";
        content: "\f002";
        font-weight: 900;
        position: absolute;
        right: 1px;
        top: 42%;
        transform: translateY(-50%);
        font-size: 15px;
        color: var(--Black);
      }
      input[type="text"] {
        padding: 5px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
      }
    }
    button {
      border: none;
      background-color: transparent;
    }
  }
}
/* ============================ Courses Page ============================ */
#courses {
  .container {
    .courses-cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 35px;
      .course {
        max-width: 385px;
        border-radius: 20px;
        border: 1px solid #eaeaea;
        position: relative;
        .course-tag {
          position: absolute;
          top: 20px;
          left: 20px;
          background-color: var(--Black);
          color: #fff;
          border-radius: 8px;
          padding: 8px 12px;
          font-weight: 500;
        }
        .course-img {
          width: 100%;
          object-fit: cover;
          border-radius: 20px 20px 0 0;
        }
        .course-details {
          padding: 20px;
          p span {
            font-weight: 500;
          }
          h3 {
            font-size: 20px;
            font-weight: 600;
            font-family: "Exo", sans-serif;
            margin-top: 12px;
          }
          .course-info {
            padding-block: 16px;
            display: flex;
            align-items: center;
            gap: 24px;
            border-bottom: 1px solid #eaeaea;
            div {
              display: flex;
              align-items: center;
              gap: 4px;
              color: var(--Dark_gray);
              font-weight: 500;
            }
          }
          .course-footer {
            padding-top: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              color: var(--Grey);
            }
            span {
              color: #55be24;
            }
            a {
              font-weight: 500;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
/* ============================ Blog Page ============================ */
#blog {
  .container {
    .blog-cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 35px;
      .blog {
        max-width: 385px;
        border-radius: 20px;
        border: 1px solid #eaeaea;
        .blog-img {
          width: 100%;
          object-fit: cover;
          border-radius: 20px 20px 0 0;
        }
        .blog-details {
          padding: 20px;
          h4 {
            font-size: 20px;
            font-weight: 600;
            font-family: "Exo", sans-serif;
          }
          .blog-info {
            padding-block: 16px;
            div {
              display: flex;
              align-items: center;
              gap: 10px;
              color: var(--Dark_gray);
              font-weight: 500;
            }
          }
          p {
            font-family: "Jost", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: var(--Dark_gray);
          }
        }
      }
    }
  }
}
/* ============================ Form ============================ */
.input {
  width: 100%;
  height: 48px;
  /* padding-inline: 16px; */
  padding: 10px 16px;
  border: 1px solid var(--Light_grey);
  border-radius: 8px;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--Grey);
  a {
    font-family: "Jost", sans-serif;
    font-size: 18px;
  }
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  input[type="checkbox"] {
    accent-color: var(--main-color);
  }
  label {
    color: var(--Dark_gray);
    font-family: "Jost", sans-serif;
    font-size: 18px;
    color: var(--Dark_gray);
  }
}
/* ============================ Login-Register Page ============================ */
#login-register {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
    h2 {
      font-size: 32px;
    }
    .form-container {
      margin-top: 30px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
      .pass-container {
        display: flex;
        align-items: center;
        border: 1px solid var(--Light_grey);
        border-radius: 9px;
        width: 100%;
        input {
          border: none;
          outline: none;
          flex-grow: 1;
        }
        i {
          color: var(--Dark_gray);
          font-size: 22px;
          margin-right: 10px;
        }
      }
    }
    .submit-btn {
      width: 100%;
      height: 48px;
      padding-inline: 16px;
      border: none;
      border-radius: 24px;
      background-color: var(--main-color);
      color: white;
      font-family: "Jost", sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
    }
    .card {
      padding: 30px;
      border: 1px solid var(--Light_grey);
      border-radius: 20px;
    }
  }
}
/* ============================ Faqs Page ============================ */
#faqs {
  .accordion-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
    .accordion {
      background-color: var(--White_grey);
      border-radius: 8px;
      margin-bottom: 30px;
      padding: 20px 30px;
    }
    .accordion-header {
      font-family: "Exo", sans-serif;
      font-weight: 600;
      line-height: 19.2px;
      font-size: 16px;
      color: var(--Black);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .accordion-header.active {
      color: var(--main-color);
    }
    .accordion-content {
      display: none;
      padding-top: 20px;
      color: var(--Dark_gray);
    }
    .accordion-content p {
      margin: 0;
      font-family: "Jost", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
    }
    .accordion-header.active + .accordion-content {
      display: block;
    }
    .accordion-icon {
      font-size: 12px;
      color: var(--Grey);
    }
  }
}
/* ============================ Contact Page ============================ */
#contact {
  .container {
    .address {
      display: flex;
      gap: 30px;
      .info {
        width: 410px;
        h2 {
          font-size: 36px;
          font-weight: 600;
          line-height: 43.2px;
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-top: 24px;
          p {
            font-family: "Jost", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: var(--Dark_gray);
          }
          .contact-item {
            display: flex;
            gap: 24px;
            .icon {
              width: 56px;
              height: 56px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              background-color: var(--White_grey);
              color: var(--main-color);
              font-size: 20px;
            }
            div {
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              h5 {
                font-size: 16px;
                font-weight: 600;
                line-height: 19.2px;
              }
              a {
                font-family: "Exo", sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 19.2px;
                color: var(--Black);
              }
            }
          }
        }
      }
      .map {
        width: 100%;
        height: 390px;
        iframe {
          width: 100%;
          height: 100%;
          border: 0;
          border-radius: 20px;
        }
      }
    }
    .contact-us {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 70px;
      .form-title {
        h2 {
          font-size: 32px;
          font-weight: 600;
          line-height: 38.4px;
        }
        p {
          font-family: "Jost", sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          margin-top: 20px;
        }
      }
      .form-input {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .row-input {
          display: flex;
          gap: 20px;
        }
        textarea {
          height: 100px;
        }
        button {
          width: 170px;
        }
      }
    }
  }
}
/* ============================ Responsive Design =========================== */
@media screen and (max-width: 992px) {
  .number-page {
    margin-bottom: 70px;
  }
  .page-header {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }
  #login-register {
    .container {
      grid-template-columns: minmax(100px, 1fr);
      margin-bottom: 70px;
    }
  }
  #faqs {
    .container {
      img {
        width: 100%;
      }
    }
    .accordion-container {
      grid-template-columns: minmax(100px, 1fr);
    }
  }
  #contact {
    .container {
      margin-bottom: 70px;
      .address {
        flex-direction: column;
        .info {
          width: 100%;
        }
        .map {
          iframe {
            border-radius: 0;
          }
        }
      }
      .contact-us {
        .form-input {
          .row-input {
            flex-direction: column;
          }
        }
      }
    }
  }
}
